.sideBar{

  background-color: #181818;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 100%;
  padding: 10px;

.logo{
  text-decoration: none;

  .letter{
    width: 30px;
    display: block;
    margin: 12px auto ;
    margin-bottom: 0;
  }
  .my_name{
    font-family: La Belle Aurore;
    color: #fff;
    margin-top: 2px;
text-align: center;    
display: block;
margin-right: 9px;
font-size: 19px;

  }
}
 nav{

width: 100%;
height: 40%;
display: flex;
flex-direction: column;
align-items: center;
gap: 25px ;
margin-top: 90px;
margin-top: -10px;


a{

  color: #414040;
  font-size: 28px;
transition: .4s ease;
position: relative;

}
a.active{
color: #ffd700;
}
a:hover{
  color: #fff;

}



 }
 ul{
  list-style: none;
  width: 100%;
padding: 10px;
text-align: center;
li{

padding-right: 10px;
a{

  font-size: 23px;
  color: #414040;
  transition: .4s ease;

}
a:hover{
  color: #ffd700;
}


}

 }

}