.home_parent {
  position: absolute;
  left: 100px;
  top: 20%;
  color: #fff;
}

.home_parent .left_side {
  padding: 10px;
}

.home_parent .left_side .info h1 {
  line-height: 1.4;
  word-spacing: 1.1;
  letter-spacing: 5px;
  line-height: 1.4;
  font-family: Coolvetica;
}

.home_parent .left_side .info h1 img {
  transform: rotate(1deg);
  width: 23px;
}

.home_parent .left_side .btn_div {
  margin-top: 70px;
  margin-left: 30px;
}

.home_parent .left_side .btn_div a {
  display: inline-block;
  text-decoration: none;
  color: #ffd700;
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
  width: 120px;
  padding: 3px;
  font-family: Coolvetica;
  letter-spacing: 5px;
  border: 1px solid #ffd700;
  transition: .4s ease;
}

.home_parent .left_side .btn_div a:hover {
  background-color: #ffd700;
}
